@use '/src/app/shared/modules/mixins.module' as mixins;
@use '/src/app/shared/modules/variables.module' as variables;
@import '~antd/dist/antd.css';

.wrapper {
  padding: 10px 10px;
  margin-bottom: 3%;
  height: fit-content;
  background-color: variables.$background_color;
}

.header {
  @include mixins.flex-row-center;
  &:global(.ant-typography) {
    color: white;
  }
}

.buttonsWrapper {
  padding: 0 20%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  &:global(.ant-btn-primary) {
    width: 30%;
  }
}